<!-- _includes/footer.html -->
<footer class="bg-dark text-white py-5 mt-5">
  <div class="container text-center">
    <p class="mb-2"> &copy; 2026 {{ site.title }} - 为高效而生</p>
   
    <div class="list-inline">
      <a href="#" class="list-inline-item text-white-50 mx-2 text-decoration-none">隐私政策</a>
      <a href="#" class="list-inline-item text-white-50 mx-2 text-decoration-none">服务条款</a>
      <a href="mailto:{{ site.email }}" class="list-inline-item text-white-50 mx-2 text-decoration-none">联系我们</a>
    </div>

  </div>
</footer>