<!-- _includes/navbar.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">
  <div class="container">
    
    <a class="navbar-brand logo-geek text-primary" href="{{ '/' | relative_url }}">
         MySaaS
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      

        <ul class="navbar-nav ms-auto align-items-center">

        <li class="nav-item">
        <a class="nav-link" href="{{ '/about/' | relative_url }}">关于我</a>
        </li>
        
        <li class="nav-item"><a class="nav-link" href="{{ '/' | relative_url }}#features">功能介绍</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ '/blog' | relative_url }}">博客文章</a></li>
        
        <li class="nav-item ms-lg-3">
          <a class="btn btn-primary rounded-pill px-4" href="#">阅读开始</a>  
        </li>

      </ul>
    </div>
  </div>
</nav>